@using ApartmentManagement.Core.Models

@model Apartment

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Yeni Daire Ekle</h2>
			<hr />
		</div>
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="mb-3">
			<label asp-for="ApartmentNumber">Daire Numarası</label>
			<input asp-for="ApartmentNumber" class="form-control" />
			<span asp-validation-for="ApartmentNumber" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="BlockNumber">Blok No</label>
			<input asp-for="BlockNumber" class="form-control" />
			<span asp-validation-for="BlockNumber" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Type">Tip</label>
			<input asp-for="Type" class="form-control" />
			<span asp-validation-for="Type" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Floor">Kat</label>
			<input asp-for="Floor" class="form-control" />
			<span asp-validation-for="Floor" class="text-danger"></span>
		</div>


		<button type="submit" class="btn btn-primary" style="width:150px" asp-action="Create">Ekle</button>
		<a asp-controller="Apartment" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Daireler
		</a>
	</div>
</form>
